.header {
    height: 70px;

    &__inner {
        position: fixed;
        top: 0;
        left: 0%;
        height: 70px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        z-index: 5;
        border-radius: 0 0 4px 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        gap: 20px;
    }

    &__input {
        border: none;
        background-color: transparent;
        height: 100%;
        font-size: 22px;
        color: #f9f7f7;
        padding: 0 10px;
        width: 100%;

        &:focus {
            outline: none;
        }

        &::placeholder {
            padding-left: 2px;
            color: inherit
        }
    }

    &__input-wrapper {
        height: 40px;
        border: 1px solid #b1c4f0;
        border-radius: 4px;
        background-color: rgba(162, 201, 232, 0.5);
        display: flex;
        align-items: center;
    }

    &__input-search {
        height: 30px;
        padding-right: 10px;
    }

    &__logo-wrapper {
        height: 90%;
        width: 50px;
    }

    &__logo {
        height: 100%;
        width: 100%;
    }
}