.main {
    &__title {
        font-weight: bold;
        font-size: 28px;
        padding: 20px 0 0 20px;
    }

    &__carousel-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 20px;
    }

    &__carousel-img {
        height: 140px;
        width: 140px;
        object-fit: contain;
        box-shadow: 20px 15px #ff33e6;
        transition-property: box-shadow, border-color;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        cursor: pointer;
        border: 2px dashed transparent;

        &:hover {
            border: 2px dashed #79726D;
            box-shadow: none;
        }

        @media (min-width: 480px) {
            width: 180px;
            height: 180px;
        }

        @media (min-width: 1024px) {
            width: 210px;
            height: 210px;
        }

        @media (min-width: 1280px) {
            width: 250px;
            height: 250px;
        }

        @media (min-width: 1440px) {
            width: 280px;
            height: 280px;
        }
    }

    &__carousel-title {
        position: absolute;
        font-weight: bold;
        text-shadow: 1px 0px 5px #2A3137;
        pointer-events: none;
        font-size: 18px;
    }
}
